<a href="https://colab.research.google.com/github/astrovishalthakur/MachineLearning/blob/main/GradientDescent/SGDRegressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np
from sklearn.linear_model import SGDRegressor

In [27]:
from sklearn.datasets import load_boston

In [28]:
from sklearn import preprocessing

In [29]:
boston = load_boston()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [30]:
X = boston.data
y = boston.target

In [31]:
X.shape, y.shape

((506, 13), (506,))

In [32]:
df = pd.DataFrame(X)

In [33]:
df.head()

        0     1     2    3      4   ...   8      9     10      11    12
0  0.00632  18.0  2.31  0.0  0.538  ...  1.0  296.0  15.3  396.90  4.98
1  0.02731   0.0  7.07  0.0  0.469  ...  2.0  242.0  17.8  396.90  9.14
2  0.02729   0.0  7.07  0.0  0.469  ...  2.0  242.0  17.8  392.83  4.03
3  0.03237   0.0  2.18  0.0  0.458  ...  3.0  222.0  18.7  394.63  2.94
4  0.06905   0.0  2.18  0.0  0.458  ...  3.0  222.0  18.7  396.90  5.33

[5 rows x 13 columns]

In [34]:
from sklearn.model_selection import train_test_split

In [38]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=4)

In [39]:
scaler = preprocessing.StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [40]:
df_train=pd.DataFrame(X_train)
df_train['price']=y_train
df_train.head()

          0         1         2         3  ...        10        11        12  price
0 -0.427448  1.484011 -1.114239 -0.256833  ... -1.509687  0.365233 -1.374464   36.4
1 -0.408222 -0.479907  1.574679 -0.256833  ...  1.257406  0.382577  1.182332   13.3
2 -0.412430  0.480231 -0.761546 -0.256833  ...  0.288924  0.215063 -1.274687   24.8
3 -0.363451 -0.479907 -0.429257 -0.256833  ...  1.165170  0.436961 -0.627519   20.4
4 -0.435844  3.447930 -1.069059 -0.256833  ... -1.186859  0.318794 -1.341205   44.0

[5 rows x 14 columns]

In [41]:
sgd = SGDRegressor(max_iter=100, learning_rate="constant", eta0=0.01)

In [42]:
sgd.fit(X_train, y_train)

SGDRegressor(learning_rate='constant', max_iter=100)

In [43]:
y_pred = sgd.predict(X_test)

In [44]:
from sklearn.metrics import mean_squared_error

In [45]:
y_test.shape, y_pred.shape

((102,), (102,))

In [46]:
mean_squared_error(y_test, y_pred)

28.71339554089325