<a href="https://colab.research.google.com/github/astrovishalthakur/MachineLearning/blob/main/Projects/HousePricePrediction/BengaluruHousePricePredictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
! pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
! mkdir ~/.kaggle

In [ ]:
! cp "/content/drive/MyDrive/kaggle/kaggle.json" ~/.kaggle/kaggle.json

In [ ]:
! kaggle datasets download -d amitabhajoy/bengaluru-house-price-data

Downloading bengaluru-house-price-data.zip to /content
  0% 0.00/195k [00:00<?, ?B/s]
100% 195k/195k [00:00<00:00, 70.1MB/s]

In [ ]:
! unzip bengaluru-house-price-data.zip

Archive:  bengaluru-house-price-data.zip
  inflating: Bengaluru_House_Data.csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("Bengaluru_House_Data.csv")

In [ ]:
data.head()

              area_type   availability  ... balcony   price
0  Super built-up  Area         19-Dec  ...     1.0   39.07
1            Plot  Area  Ready To Move  ...     3.0  120.00
2        Built-up  Area  Ready To Move  ...     3.0   62.00
3  Super built-up  Area  Ready To Move  ...     1.0   95.00
4  Super built-up  Area  Ready To Move  ...     1.0   51.00

[5 rows x 9 columns]

In [ ]:
data.shape

(13320, 9)

In [ ]:
data.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [ ]:
data.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [ ]:
for column in data.columns:
  print(data[column].value_counts())
  print("*"*20)

Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: area_type, dtype: int64
********************
Ready To Move    10581
18-Dec             307
18-May             295
18-Apr             271
18-Aug             200
                 ...
15-Dec               1
14-Jul               1
16-Nov               1
15-Aug               1
17-Jan               1
Name: availability, Length: 81, dtype: int64
********************
Whitefield               540
Sarjapur  Road           399
Electronic City          302
Kanakpura Road           273
Thanisandra              234
                        ...
Devarabeesana Halli        1
Jaladarsini Layout         1
Veerabhadra Nagar          1
Duvasapalya                1
Vasatha Vallbha Nagar      1
Name: location, Length: 1305, dtype: int64
********************
2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
43 Bedroom       1
12 Bedroom       1
27 BHK           1
18 Bedroom       1
19 BHK           1
16 BHK           1
13 BHK           1
Name: size, dtype: int64
********************
GrrvaGr    80
PrarePa    76
Sryalan    59
Prtates    59
GMown E    56
           ..
Aplanje     1
Gohts H     1
Dhgraas     1
Vaarai      1
WoarkEm     1
Name: society, Length: 2688, dtype: int64
********************
1200          843
1100          221
1500          205
2400          196
600           180
             ...
772             1
929 - 1078      1
6688            1
4856            1
9200            1
Name: total_sqft, Length: 2117, dtype: int64
********************
2.0     6908
3.0     3286
4.0     1226
1.0      788
5.0      524
6.0      273
7.0      102
8.0       64
9.0       43
10.0      13
12.0       7
13.0       3
11.0       3
16.0       2
27.0       1
18.0       1
40.0       1
15.0       1
14.0       1
Name: bath, dtype: int64
********************
2.0    5113
1.0    4897
3.0    1672
0.0    1029
Name: balcony, dtype: int64
********************
75.00    310
65.00    302
55.00    275
60.00    270
45.00    240
        ...
81.55      1
69.49      1
42.18      1
70.25      1
74.82      1
Name: price, Length: 1994, dtype: int64
********************

In [ ]:
data.drop(columns=["area_type", "availability", "society", "balcony"], inplace=True)

In [ ]:
data.describe()

               bath         price
count  13247.000000  13320.000000
mean       2.692610    112.565627
std        1.341458    148.971674
min        1.000000      8.000000
25%        2.000000     50.000000
50%        2.000000     72.000000
75%        3.000000    120.000000
max       40.000000   3600.000000

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13319 non-null  object
 1   size        13304 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13247 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [ ]:
data.location.value_counts()

Whitefield               540
Sarjapur  Road           399
Electronic City          302
Kanakpura Road           273
Thanisandra              234
                        ...
Devarabeesana Halli        1
Jaladarsini Layout         1
Veerabhadra Nagar          1
Duvasapalya                1
Vasatha Vallbha Nagar      1
Name: location, Length: 1305, dtype: int64

## Since only 1 value is missing in locations, we will impute it with most frequent value.

In [ ]:
data.location.fillna("Whitefield", inplace=True)

In [ ]:
data.location.value_counts()

Whitefield               541
Sarjapur  Road           399
Electronic City          302
Kanakpura Road           273
Thanisandra              234
                        ...
Devarabeesana Halli        1
Jaladarsini Layout         1
Veerabhadra Nagar          1
Duvasapalya                1
Vasatha Vallbha Nagar      1
Name: location, Length: 1305, dtype: int64

In [ ]:
data["size"].value_counts()

2 BHK         5199
3 BHK         4310
4 Bedroom      826
4 BHK          591
3 Bedroom      547
1 BHK          538
2 Bedroom      329
5 Bedroom      297
6 Bedroom      191
1 Bedroom      105
8 Bedroom       84
7 Bedroom       83
5 BHK           59
9 Bedroom       46
6 BHK           30
7 BHK           17
1 RK            13
10 Bedroom      12
9 BHK            8
8 BHK            5
11 BHK           2
11 Bedroom       2
10 BHK           2
14 BHK           1
43 Bedroom       1
12 Bedroom       1
27 BHK           1
18 Bedroom       1
19 BHK           1
16 BHK           1
13 BHK           1
Name: size, dtype: int64

In [ ]:
data["size"].isna().sum()

16

### again it's a small value, so we will fill it with most frequent

In [ ]:
data["size"].fillna("2 BHK", inplace=True)

In [ ]:
data["bath"].fillna(data["bath"].median(), inplace=True)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   location    13320 non-null  object
 1   size        13320 non-null  object
 2   total_sqft  13320 non-null  object
 3   bath        13320 non-null  float64
 4   price       13320 non-null  float64
dtypes: float64(2), object(3)
memory usage: 520.4+ KB

In [ ]:
data["BHK"] = data["size"].str.split().str.get(0).astype(int)

In [ ]:
data[data.BHK > 20]

                       location        size total_sqft  bath  price  BHK
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [ ]:
data.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [ ]:
# we have to fix these ranges above.
# we will split ranges at hyphen and store the mean of upper and lower limit

def convertRange(x):
  temp = x.split('-')
  if len(temp) == 2:
    return ( ( float(temp[0]) + float(temp[1]) ) / 2)

  try:
    return float(x)

  except:
    return None

In [ ]:
data.total_sqft = data.total_sqft.apply(convertRange)

In [ ]:
data.total_sqft.unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [ ]:
data.head()

                   location       size  total_sqft  bath   price  BHK
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [ ]:
data.drop(columns=["size"], inplace=True)

# Price per square feat

In [ ]:
data["price_per_sqft"] = (data.price * 100000) / data.total_sqft

In [ ]:
data.head()

                   location  total_sqft  bath   price  BHK  price_per_sqft
0  Electronic City Phase II      1056.0   2.0   39.07    2     3699.810606
1          Chikka Tirupathi      2600.0   5.0  120.00    4     4615.384615
2               Uttarahalli      1440.0   2.0   62.00    3     4305.555556
3        Lingadheeranahalli      1521.0   3.0   95.00    3     6245.890861
4                  Kothanur      1200.0   2.0   51.00    2     4250.000000

In [ ]:
data.describe()

         total_sqft          bath         price           BHK  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

In [ ]:
data.location.value_counts()

Whitefield               541
Sarjapur  Road           399
Electronic City          302
Kanakpura Road           273
Thanisandra              234
                        ...
Devarabeesana Halli        1
Jaladarsini Layout         1
Veerabhadra Nagar          1
Duvasapalya                1
Vasatha Vallbha Nagar      1
Name: location, Length: 1305, dtype: int64

### Since there are so many locations, we can't transform it using one hot enoder

#### We will replace location less than 10 with others

In [ ]:
data.location = data.location.apply(lambda x : x.strip())

In [ ]:
location_counts = data.location.value_counts()

In [ ]:
location_count_less_10 = location_counts[location_counts <= 10]
location_count_less_10

Ganga Nagar                      10
Dairy Circle                     10
Kalkere                          10
Basapura                         10
Sector 1 HSR Layout              10
                                 ..
Gubbi Cross, Hennur Main Road     1
7th Block Koramangala             1
Gandhi Nagar                      1
singapura paradise                1
Agara Village                     1
Name: location, Length: 1053, dtype: int64

In [ ]:
data.location = data.location.apply(lambda x: "other" if x in location_count_less_10 else x)

In [ ]:
data.location.value_counts()

other                 2885
Whitefield             542
Sarjapur  Road         399
Electronic City        304
Kanakpura Road         273
                      ...
Pattandur Agrahara      11
Marsur                  11
Nehru Nagar             11
Narayanapura            11
HAL 2nd Stage           11
Name: location, Length: 242, dtype: int64

# Outlier detection and handling.

In [ ]:
data.describe()

         total_sqft          bath         price           BHK  price_per_sqft
count  13274.000000  13320.000000  13320.000000  13320.000000    1.327400e+04
mean    1559.626694      2.688814    112.565627      2.802778    7.907501e+03
std     1238.405258      1.338754    148.971674      1.294496    1.064296e+05
min        1.000000      1.000000      8.000000      1.000000    2.678298e+02
25%     1100.000000      2.000000     50.000000      2.000000    4.266865e+03
50%     1276.000000      2.000000     72.000000      3.000000    5.434306e+03
75%     1680.000000      3.000000    120.000000      3.000000    7.311746e+03
max    52272.000000     40.000000   3600.000000     43.000000    1.200000e+07

There are some outliers. Like there is a minimum flat size of 1 sqft, which is not correct.

In [ ]:
(data.total_sqft / data.BHK).describe()

count    13274.000000
mean       575.074878
std        388.205175
min          0.250000
25%        473.333333
50%        552.500000
75%        625.000000
max      26136.000000
dtype: float64

Here we can see that minimum value of sqft per BHK is 0.25 sqft, which is not correct, so we will take a threshold of 300 sqft and remove all the flats whose total area is less than 300 sqft.

In [ ]:
data = data[(data.total_sqft / data.BHK) >= 300]

In [ ]:
data.shape

(12530, 6)

In [ ]:
data.price_per_sqft.describe()

count     12530.000000
mean       6303.979357
std        4162.237981
min         267.829813
25%        4210.526316
50%        5294.117647
75%        6916.666667
max      176470.588235
Name: price_per_sqft, dtype: float64

Now here again we can see that maximum price of 1 sqft is 176470, which is again an outlier. So we need to handle this as well.

In [ ]:
data.groupby("location").mean()

                            total_sqft      bath  ...       BHK  price_per_sqft
location                                          ...
1st Block Jayanagar        1915.000000  3.100000  ...  3.200000    12359.253758
1st Phase JP Nagar         1800.695652  3.043478  ...  2.956522     9726.405918
2nd Phase Judicial Layout  1173.272727  2.090909  ...  2.454545     4048.701183
2nd Stage Nagarbhavi       2127.777778  4.666667  ...  4.555556    14381.275720
5th Block Hbr Layout       2112.571429  3.142857  ...  3.428571     6622.120076
...                                ...       ...  ...       ...             ...
Yelahanka                  1782.266827  2.451923  ...  2.519231     5177.606819
Yelahanka New Town         1215.526316  1.868421  ...  2.105263     5860.659870
Yelenahalli                1268.461538  2.153846  ...  2.230769     4012.550871
Yeshwanthpur               1454.343750  2.400000  ...  2.437500     6620.544179
other                      1765.646958  2.711042  ...  2.800705     7468.571478

[242 rows x 5 columns]

In [ ]:
def remove_outlier_sqft(df):
  df_output = pd.DataFrame()
  for key, subdf in df.groupby("location"):  # here key is location name, and subdf is dataframe of entities having that location.
    m = np.mean(subdf.price_per_sqft)

    st = np.std(subdf.price_per_sqft)

    gen_df = subdf[(subdf.price_per_sqft > (m - st)) & (subdf.price_per_sqft <= (m + st))]  # a price should be between in range of mean - std to mean + std. that is 60 something % of data. 

    df_output = pd.concat([df_output, gen_df], ignore_index=True)
  return df_output

data = remove_outlier_sqft(data)
data.describe()

         total_sqft          bath         price           BHK  price_per_sqft
count  10301.000000  10301.000000  10301.000000  10301.000000    10301.000000
mean    1508.440608      2.471702     91.286372      2.574896     5659.062876
std      880.694214      0.979449     86.342786      0.897649     2265.774749
min      300.000000      1.000000     10.000000      1.000000     1250.000000
25%     1110.000000      2.000000     49.000000      2.000000     4244.897959
50%     1286.000000      2.000000     67.000000      2.000000     5175.600739
75%     1650.000000      3.000000    100.000000      3.000000     6428.571429
max    30400.000000     16.000000   2200.000000     16.000000    24509.803922

In [ ]:
data.groupby(["location", "BHK"]).mean()

                           total_sqft       bath       price  price_per_sqft
location            BHK
1st Block Jayanagar 2     1235.000000   2.000000  148.000000    11983.805668
                    3     1568.333333   2.333333  186.333333    11756.169052
                    4     2683.333333   4.000000  403.000000    15018.711280
1st Phase JP Nagar  1      840.000000   2.000000   50.000000     5952.380952
                    2     1239.500000   2.000000   99.062500     7931.806800
...                               ...        ...         ...             ...
other               9     4200.000000   8.750000  236.500000     5530.842391
                    10    7650.000000  10.500000  487.500000     9005.681818
                    11    5500.000000  10.500000  255.000000     4850.000000
                    13    5425.000000  13.000000  275.000000     5069.124424
                    16   10000.000000  16.000000  550.000000     5500.000000

[806 rows x 4 columns]

In [ ]:
def bhk_outlier_remover(df):
  exclude_indices = np.array([])
  for location, location_df in df.groupby("location"):
    bhk_stats = {}
    for bhk, bhk_df in location_df.groupby("BHK"):
      bhk_stats[bhk] = {
          "mean" : np.mean(bhk_df.price_per_sqft),
          "std" : np.std(bhk_df.price_per_sqft),
          "count" : bhk_df.shape[0]
      }

    for bhk, bhk_df in location_df.groupby("BHK"):
      stats = bhk_stats.get(bhk - 1) # get() returns none if it can't find the key instead of throwing error
      if stats and stats["count"] > 5:
        exclude_indices = np.append(exclude_indices, bhk_df[bhk_df.price_per_sqft < (stats["mean"])].index.values)
  return df.drop(exclude_indices, axis="index")

In [ ]:
data = bhk_outlier_remover(data)

In [ ]:
data.shape

(7361, 6)

In [ ]:
data

                  location  total_sqft  bath  price  BHK  price_per_sqft
0      1st Block Jayanagar      2850.0   4.0  428.0    4    15017.543860
1      1st Block Jayanagar      1630.0   3.0  194.0    3    11901.840491
2      1st Block Jayanagar      1875.0   2.0  235.0    3    12533.333333
3      1st Block Jayanagar      1200.0   2.0  130.0    3    10833.333333
4      1st Block Jayanagar      1235.0   2.0  148.0    2    11983.805668
...                    ...         ...   ...    ...  ...             ...
10292                other      1200.0   2.0   70.0    2     5833.333333
10293                other      1800.0   1.0  200.0    1    11111.111111
10296                other      1353.0   2.0  110.0    2     8130.081301
10297                other       812.0   1.0   26.0    1     3201.970443
10300                other      3600.0   5.0  400.0    4    11111.111111

[7361 rows x 6 columns]

In [ ]:
data.drop(columns=["price_per_sqft"], inplace=True)

# Cleaned data

In [ ]:
data.head()

              location  total_sqft  bath  price  BHK
0  1st Block Jayanagar      2850.0   4.0  428.0    4
1  1st Block Jayanagar      1630.0   3.0  194.0    3
2  1st Block Jayanagar      1875.0   2.0  235.0    3
3  1st Block Jayanagar      1200.0   2.0  130.0    3
4  1st Block Jayanagar      1235.0   2.0  148.0    2

In [ ]:
data.to_csv("Cleaned_data.csv")

In [ ]:
X = data.drop(columns=["price"])
y = data.price

In [ ]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

In [ ]:
X_train.shape, X_test.shape

((5888, 4), (1473, 4))

# Applying Linear Regression

In [ ]:
column_trans = make_column_transformer((OneHotEncoder(sparse=False), ['location']), remainder="passthrough")

In [ ]:
scaler = StandardScaler()

In [ ]:
lr = LinearRegression(normalize = True)

In [ ]:
pipe = make_pipeline(column_trans, scaler, lr)

In [ ]:
pipe.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)


  FutureWarning,

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()),
                ('linearregression', LinearRegression(normalize=True))])

In [ ]:
y_pred = pipe.predict(X_test)

In [ ]:
print("Accuracy", r2_score(y_test, y_pred))

Accuracy 0.8251602390763686

# Applying Lasso

In [ ]:
lasso = Lasso()

In [ ]:
pipe2 = make_pipeline(column_trans, scaler, lasso)

In [ ]:
pipe2.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('lasso', Lasso())])

In [ ]:
y_pred2 = pipe2.predict(X_test)

In [ ]:
print("Accuracy", r2_score(y_test, y_pred2))

Accuracy 0.814689475169039

# Applying Ridge

In [ ]:
ridge = Ridge()

In [ ]:
pipe3 = make_pipeline(column_trans, scaler, ridge)

In [ ]:
pipe3.fit(X_train, y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(sparse=False),
                                                  ['location'])])),
                ('standardscaler', StandardScaler()), ('ridge', Ridge())])

In [ ]:
y_pred3 = pipe.predict(X_test)

In [ ]:
print("Accuracy", r2_score(y_test, y_pred3))

Accuracy 0.8251602390763686

In [ ]:
print("No Regularization", r2_score(y_test, y_pred))
print("Lasso Regularization", r2_score(y_test, y_pred2))
print("Ridge Regularization", r2_score(y_test, y_pred3))

No Regularization 0.8251602390763686
Lasso Regularization 0.814689475169039
Ridge Regularization 0.8251602390763686

# Dumping in pickle

In [ ]:
! pip install pickle-mixin

Collecting pickle-mixin
  Downloading pickle-mixin-1.0.2.tar.gz (5.1 kB)
Building wheels for collected packages: pickle-mixin
  Building wheel for pickle-mixin (setup.py) ... done
  Created wheel for pickle-mixin: filename=pickle_mixin-1.0.2-py3-none-any.whl size=6008 sha256=61421f9f9fea2e1bd83857259ae4f69ac572f60be17b243d8b00818cd3fb3b4c
  Stored in directory: /root/.cache/pip/wheels/d0/70/0b/673e09a7ed429660d22352a1b117b4f616a8fc054bdd7eb157
Successfully built pickle-mixin
Installing collected packages: pickle-mixin
Successfully installed pickle-mixin-1.0.2

In [ ]:
import pickle

In [ ]:
pickle.dump(pipe3, open("RidgeModel.pkl", "wb"))