<a href="https://colab.research.google.com/github/astrovishalthakur/MachineLearning/blob/main/DecisionTrees/RegressionTreeHyperparameterTuning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
from pandas_datareader import data
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.datasets import load_boston
from sklearn.metrics import r2_score
from sklearn import metrics

In [8]:
boston = load_boston()
df = pd.DataFrame(boston.data)
df.columns = boston.feature_names
df["MEDV"] = boston.target

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [9]:
df.head()

      CRIM    ZN  INDUS  CHAS    NOX  ...    TAX  PTRATIO       B  LSTAT  MEDV
0  0.00632  18.0   2.31   0.0  0.538  ...  296.0     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07   0.0  0.469  ...  242.0     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07   0.0  0.469  ...  242.0     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18   0.0  0.458  ...  222.0     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18   0.0  0.458  ...  222.0     18.7  396.90   5.33  36.2

[5 rows x 14 columns]

In [10]:
X = df.iloc[:,0:13]
y = df.iloc[:,13]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [12]:
rt = DecisionTreeRegressor(criterion="mse", max_depth=5)

In [13]:
rt.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/tree/_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

DecisionTreeRegressor(criterion='mse', max_depth=5)

In [14]:
y_pred =  rt.predict(X_test)

In [15]:
r2_score(y_test, y_pred)

0.8833565347917995

# Hyperparameter Tuning

In [17]:
param_grid = {
    "max_depth": [2, 4, 8, 10, None],
    "criterion": ["mse", "mae"],
    "max_features": [0.25, 0.5, 1.0],
    "min_samples_split":[0.25, 0.5, 1.0]
}

In [18]:
reg = GridSearchCV(DecisionTreeRegressor(), param_grid=param_grid)

In [ ]:
reg.fit(X_train, y_train)

In [20]:
reg.best_score_

0.65067974316737

In [21]:
reg.best_params_

{'criterion': 'mse',
 'max_depth': 10,
 'max_features': 0.5,
 'min_samples_split': 0.25}

# Feature Importance

In [22]:
for importance, name in sorted(zip(rt.feature_importances_, X_train.columns), reverse=True):
  print(name, importance)

RM 0.630396209506638
LSTAT 0.19426427075925343
DIS 0.07187288650018879
CRIM 0.057258821026304876
NOX 0.021107459659609355
B 0.011905660139828132
AGE 0.006176126174366257
PTRATIO 0.004391097507128481
INDUS 0.0026274687266822777
TAX 2.539143425334729e-16
ZN 0.0
RAD 0.0
CHAS 0.0