<a href="https://colab.research.google.com/github/astrovishalthakur/MachineLearning/blob/main/Ensemble/RandomForests/OOB_Score.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

from sklearn.metrics import accuracy_score

In [3]:
url = "https://raw.githubusercontent.com/astrovishalthakur/100-days-of-machine-learning/main/day65-random-forest/heart.csv"

In [4]:
df = pd.read_csv(url)

In [5]:
df.head()

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [6]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# here we also pass hyperparameter `oob_score = True`

In [9]:
rf = RandomForestClassifier(oob_score=True)

In [10]:
rf.fit(X_train, y_train)

RandomForestClassifier(oob_score=True)

### The OOB_score is computed as the number of correctly predicted rows from the out-of-bag sample

In [11]:
rf.oob_score_

0.8016528925619835

In [12]:
y_pred = rf.predict(X_test)
accuracy_score(y_test, y_pred)

0.8524590163934426